Package: ping-indicator
Version: 0.99-23
Maintainer: Sergey Lukianov <salseeg@gmail.com>
Architecture: amd64
Section: net
Depends: python(>=2.6), python-appindicator, python-glade2
Installed-Size: 100
Description: link monitor for Unity
 Ping-indicator is Unity indicator to show hosts connectivity.
